# Production ayar dosyası
appsettings.Production.json

# Kullanıcı ayarları
*.user
*.suo

# .NET derleme dosyaları
bin/
obj/
out/

# IDE klasörleri
.vscode/
.vs/

# Paketler
*.nupkg
packages/

# Logs
*.log
